* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #1f2937;
}
body {
    position: relative;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
}
.main-header {
   padding: 15px 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.links {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0 10px;
}
.nav-header {
  gap: 20;
}
/* .navigation-bar {
    display: flex;
} */

article {
    width: 430px;
    height: 200px;
    margin: 0;
    padding-left: 95px;
    padding-top: 55px;
    
}
.hero-text {
    color: #f9f9f9;
    font-size: 48px;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    line-height: 55px;
}
.subtext {
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.signup-button {
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 500;
    color: #e5e7eb;
    padding: 7px 28px;
    border-style: none;
    border-radius: 6px;
}
.placeholder-img{
    position: absolute;
    top: 90px;
    right: 110px;
    width: 500px;
    height: 227px;
    color: #e5e7eb;
    text-align: center;
    margin-top: 20px;
    padding-top: 85px;
    background-color: #bfd8de72;
}
main {
    background-color: white;
    width: 100%;
    height: 380px;
}

.section2-title {
    color: #1f2937;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 35px;
}

.cards1,
.cards2,
.cards3,
.cards4 {
    width: 160px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}
.main-container {
    width: 100%;
    height: 300px;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 30px 0;
    position: relative;
}
.card-text {
    position: absolute;
    top: 188px;
    left: 242px;
    width: 175px;
    line-height: 18px;
    text-align: center;
    color: #8e8b8b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.card-text1 {
    position: absolute;
    top: 188px;
    left: 443px;
    width: 175px;
    line-height: 18px;
    text-align: center;
    color: #8e8b8b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.card-text2 {
    position: absolute;
    top: 188px;
    left: 643px;
    width: 175px;
    line-height: 18px;
    text-align: center;
    color: #8e8b8b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.card-text3 {
    position: absolute;
    top: 188px;
    left: 845px;
    width: 175px;
    line-height: 18px;
    text-align: center;
    color: #8e8b8b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.quote-section {
    background-color: #e5e7eb;
    width: 100%;
    height: 360px;
}
.quotes-block {
    width: 100%; 
}
.quotes {
    font-size: 36px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #1f2937;
    line-height: 42px;
    width: 590px;
    /* height: 260px; */
    margin: 0 360px;
    padding: 60px 0;
}
span {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 1050px;
    left: 760px;
   
}

.section-blue-card {
    width: 100%;
    height: 130px;
    padding-bottom: 180px;
}
.blue-card {
    background-color: #3882f6;
    width: 700px;
    height: 100px;
    margin: 90px 280px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.texting1 {
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
} 
.texting2 {
    color: #e5e7ee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.signup-blue {
   
    background-color: #3882f6;
    color: #e5e7ee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 3px 25px;
    border-radius: 5px;
    border: 2px solid white;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}